@media screen and (max-width: 1200px) {
 /* button-style */
    /* MAIN SECTION STARTS */
    .container2,
    .container4 {
      flex-direction: column;
      align-items: center;
      padding: 2rem;
    }
  
    #studygroup img,
    #justchill img,
    .graggle img {
      width: 100%;
      height: auto;
      object-fit: cover;
      padding: 0;
    }
  
    .graggle {
      margin: 0;
    }
  
    .container3 {
      flex-direction: column-reverse;
      align-items: center;
      padding: 2rem;
    }
  
    .box2,
    .box3,
    .box4 {
      width: 100%;
      padding: 0;
      text-align: center;
    }
  
    .box2 h2,
    .box3 h2,
    .box4 h2 {
      font-size: 2rem;
      padding: 1rem 0;
    }
  
    .box2 p,
    .box3 p,
    .box4 p {
      font-size: 1rem;
      line-height: 1.5;
    }
    /* MAIN SECTION ENDS */
  
    /* LAST SECTION STARTS */
  
    .box5 h1 {
      font-size: 2rem;
      line-height: 1.2;
      padding-bottom: 1rem;
    }
  
    .box5 p {
      font-size: 1rem;
    }
  
    .box5 img {
      width: 100%;
      height: auto;
      margin: 0;
    }
  
    .box6 {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2rem 1rem;
    }
  
    .box6 h1 {
      margin-top: 0;
      padding: 1rem 0;
    }
  
    .box6 button {
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    /* LAST SECTION ENDS */
  }
  
  @media screen and (max-width: 991px) {
    /* TOP BAR STARTS */
    .box1 {
      gap: 0 0.5rem;
      justify-content: flex-start;
      padding: 0 0.5rem;
    }
    .box1 img {
      height: auto;
      width: 50px;
    }
  
    .box1 p {
      font-size: 0.75rem;
      text-align: center;
    }
  
    .read {
      font-size: 0.75rem;
      padding: 0.5rem;
    }
    /* TOP BAR ENDS */
  
    /* NAVIGATION STARTS */
  
    nav {
      flex-wrap: wrap;
    }
  
    nav ul {
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      gap: 1rem;
      padding: 1rem 0;
    }
  
    nav ul li a {
      padding: 0;
      margin: 0;
    }
  
    .night-toggle {
      right: 4.5%;
    }
  
    /* NAVIGATION ENDS */
  
    /* BANNER STARTS */
    .section1 {
      width: 100%;
      padding: 2rem;
      gap: 1rem 0;
      align-items: baseline;
    }
  
    .section1 h1 {
      font-size: 2.5rem;
      margin-top: 0;
    }
  
    .section1 p {
      font-size: 1rem;
      margin-top: 0;
      text-align: left !important;
      max-width: 580px;
    }
  
    .buttons{
      display: flex;
      flex-direction: column;
      align-items: baseline;
    }
  
    .dino,
    .shoe {
      z-index: -1;
    }
  
    .shoe {
      width: 300px;
      height: 150px;
      left: -25%;
    }
  
    .dino {
      width: 150px;
      height: 150px;
    }
  
    .section1 .download-button {
      font-size: 0.75rem;
      padding: 0.75rem 1rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin: 0;
    }
  
    .section1 .browser {
      font-size: 0.75rem;
      padding: 0.75rem 1rem;
      margin: 0;
    }
    /* BANNER ENDS */
  
    /* FOOTER STARTS */
  
    footer .footer-nav {
      grid-template-columns: 1fr 1fr;
      gap: 2rem 0;
      width: 100%;
      padding: 2rem;
    }
  
    footer .footer-bar {
      gap: 0 1rem;
      width: 100%;
      padding: 2rem;
    }
  
    footer .footer-nav .socials h4 {
      margin-bottom: 5px;
      color: #5865f2;
      font-weight: 800 !important;
      line-height: 95%;
      text-transform: uppercase;
      text-rendering: geometricPrecision;
    }
  
    /* FOOTER ENDS */
  }
  
  @media screen and (max-width: 576px) {
    .section1 {
      display: flex;
      justify-content: start;
      padding: 1rem 2rem;
    }
  
    .section1 h1{
        font-size: 33.55px;
    }
  
    .section1 p {
      font-size: 0.85rem;
    }
  
    footer {
      padding: 3rem 0;
    }
  
    footer .footer-nav {
      grid-template-columns: 1fr;
    }
  
    .buttons{
      flex-direction: column;
      gap: 0;
    }
    .browser-button{
      font-size: 14px;
      margin-top: 18px;
    }
  }
  
  @media screen and (max-width:800px) {
    body{
      overflow-x: hidden;
    }
  
   .menu{
      display:non;
      flex-direction: column;
      height:100vh;
      width:300px;
      max-width:100vw;
      position:fixed;
      right:0;
      top:0;
      background-color: white;
      padding:30px;
      border-radius: 10px 0 0 10px;
      transform:translateX(100%);
      transition: all .5s;
    }
  
    .menu.show{
      transform:translateX(0%);
    }
  
    .for-mobile{
      display:flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .mobile-menu-logo{
      width:100px;
      height:40px;
    }
  
    .for-mobile svg.close{
      width:30px;
    }
  
    nav ul{
      flex-direction: column;
      margin-top: 30px;
    }
  
    ul li {
      padding:5px 0;
    }
  
    .wrapper .hamburger{
      display:block;
      color:white;
      font-weight: bold;
    }
  
    .wrapper{
      display:flex;
      gap:10px;
    }
  
    .night-toggle{
      position: relative;
      top:10px;
      right:0;
      display:none;
    }
  
    nav{
      justify-content: space-between;
    }
  .menu a{
    color:gray;
    font-weight: 400;
    font-size: 16px;
  }
  
  .menu li {
    text-align: left;
  }
  }
  /* MAIN SECTION STARTS */
  .container2,
  .container4 {
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }

  #studygroup img,
  #justchill img,
  .graggle img {
    width: 100%;
    height: auto;
    object-fit: cover;
    padding: 0;
  }

  .graggle {
    margin: 0;
  }

  .container3 {
    flex-direction: column-reverse;
    align-items: center;
    padding: 2rem;
  }

  .box2,
  .box3,
  .box4 {
    width: 100%;
    padding: 0;
    text-align: center;
  }

  .box2 h2,
  .box3 h2,
  .box4 h2 {
    font-size: 2rem;
    padding: 1rem 0;
  }

  .box2 p,
  .box3 p,
  .box4 p {
    font-size: 1rem;
    line-height: 1.5;
  }
  /* MAIN SECTION ENDS */

  /* LAST SECTION STARTS */

  .box5 h1 {
    font-size: 2rem;
    line-height: 1.2;
    padding-bottom: 1rem;
  }

  .box5 p {
    font-size: 1rem;
  }

  .box5 img {
    width: 100%;
    height: auto;
    margin: 0;
  }

  .box6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
  }

  .box6 h1 {
    margin-top: 0;
    padding: 1rem 0;
  }

  .box6 button {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content1 {
    background-color: transparent;
    position: relative;
    height: 82.3vh;
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .title_nav {
    width: 450px;
    position: relative;
    top: 22%;
    left: 13%;
  }
  .title_nav h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 3.2rem;
    color: white;
  }
  .title_nav h3 {
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1.1rem;
    width: 500px;
    color: white;
    margin-top: 30px;
  }
  .nav_buttons {
    background-color: transparent;
    position: relative;
    height: 15vh;
    display: flex;
    flex-direction: row;
    /* width: 20vw; */
    position: relative;
    top: 27%;
    left: 13%;
  }
  .for_windows {
    height: 8.2vh;
    border-radius: 20px;
    padding: 15px;
    background-color: #5865f2;
    border: none;
  }
  .download_nav_img {
    width: 600px;
    margin-top: 100px;
    margin-left: 0px;
  }
  .nv_btn_h3 {
    margin-left: 5%;
  }
  .ios_container {
    background-color: #f6f6f6;
    height: 600px;
    width: 35%;
    position: relative;
    top: 65%;
    left: 14%;
    margin-bottom: 5%;
    border-radius: 15px;
    /* display: flex; */
    flex-direction: column;
    overflow: hidden;
  }
  .for_ios {
    height: 57px;
    width: 150px;
    color: white;
    background-color: black;
    border: none;
    /* text-decoration: none; */
    border-radius: 20px;
    position: relative;
    top: 13%;
    left: 34%;
  }
  .android_container {
    background-color: #f6f6f6;
    height: 600px;
    width: 35%;
    position: relative;
    top: 0%;
    left: 51.5%;
    margin-bottom: 0%;
    border-radius: 15px;
    /* display: flex; */
    flex-direction: column;
    overflow: hidden;
  }
  .for_and {
    height: 57px;
    width: 150px;
    color: white;
    background-color: black;
    border: none;
    /* text-decoration: none; */
    border-radius: 20px;
    position: relative;
    top: 14%;
    left: 36.5%;
  }
  .linux_container {
    background-color: #f6f6f6;
    height: 600px;
    width: 35%;
    position: relative;
    top: -21%;
    left: 14%;
    margin-bottom: 5%;
    border-radius: 15px;
    /* display: flex; */
    flex-direction: column;
    overflow: hidden;
  }
  .for_linux {
    height: 57px;
    width: 150px;
    color: white;
    background-color: black;
    border: none;
    /* text-decoration: none; */
    border-radius: 20px;
    position: relative;
    top: 13%;
    left: 32%;
    z-index: 10;
  }
  .linux_img {
    width: 65%;
    position: relative;
    top: 30%;
    left: 17%;
  }
  .mac_container {
    background-color: #f6f6f6;
    height: 600px;
    width: 35%;
    position: relative;
    top: -86%;
    left: 51.5%;
    margin-bottom: 5%;
    border-radius: 15px;
    /* display: flex; */
    flex-direction: column;
    overflow: hidden;
  }
  .for_mac {
    height: 57px;
    width: 150px;
    color: white;
    background-color: black;
    border: none;
    /* text-decoration: none; */
    border-radius: 20px;
    position: relative;
    top: 14%;
    left: 34%;
    z-index: 10;
  }
  .public_test_container {
    background-color: #f6f6f6;
    height: 320px;
    width: 35%;
    position: relative;
    top: -115%;
    left: 14%;
    margin-bottom: 5%;
    border-radius: 15px;
    /* display: flex; */
    flex-direction: column;
    overflow: hidden;
  }
  .public_test_container h2 {
    font-size: 2.2rem;
  }
  .pt_btn {
    height: 8vh;
    width: 23vw;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 15px;
    color: white;
    background-color: black;
    cursor: pointer;
  }
  .footer_downloads {
    background-color: #23272a;
    position: relative;
    top: -110%;
    height: 50vh;
    display: flex;
    flex-direction: row;
  }
  .sozial a,
  .social i {
    font-size: 25px;
    color: white;
  }

  /* LAST SECTION ENDS */


@media screen and (max-width: 991px) {
  /* TOP BAR STARTS */
  .box1 {
    gap: 0 0.5rem;
    justify-content: flex-start;
    padding: 0 0.5rem;
  }
  .box1 img {
    height: auto;
    width: 50px;
  }

  .box1 p {
    font-size: 0.75rem;
    text-align: center;
  }

  .read {
    font-size: 0.75rem;
    padding: 0.5rem;
  }

  .content1 {
    background-color: transparent;
    position: relative;
    height: 82.3vh;
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .title_nav {
    width: 350px;
    position: relative;
    top: 22%;
    left: 9%;
  }
  .title_nav h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    color: white;
  }
  .title_nav h3 {
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    width: 450px;
    color: white;
    margin-top: 30px;
  }
  .nav_buttons {
    background-color: transparent;
    position: relative;
    height: 7vh;
    display: flex;
    flex-direction: column;
    width: 40vw;
    position: relative;
    top: 27%;
    left: 9%;
  }
  .for_windows {
    height: 8.2vh;
    border-radius: 20px;
    padding: 15px;
    background-color: #5865f2;
    border: none;
  }
  .for_windows_links {
    text-decoration: none;
    font-size: 1.1rem;
    color: white;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 400;
  }

  .nv_btn_h3 {
    margin-left: 0%;
  }

  .content2 {
    background-color: transparent;
    position: relative;
    height: 82.3vh;
    width: 50%;
    overflow: hidden;
  }
  .download_nav_img {
    width: 500px;
    margin-top: 100px;
    margin-left: 15px;
  }
  .ios_container {
    background-color: #f6f6f6;
    height: 550px;
    width: 35%;
    position: relative;
    top: 55%;
    left: 14%;
    margin-bottom: 5%;
    border-radius: 15px;
    /* display: flex; */
    flex-direction: column;
    overflow: hidden;
  }
  .for_ios {
    height: 57px;
    width: 150px;
    color: white;
    background-color: black;
    /* text-decoration: none; */
    border-radius: 20px;
    position: relative;
    top: 13%;
    left: 30%;
  }
  .android_container {
    background-color: #f6f6f6;
    height: 550px;
    width: 35%;
    position: relative;
    top: -10%;
    left: 51.5%;
    margin-bottom: 0%;
    border-radius: 15px;
    /* display: flex; */
    flex-direction: column;
    overflow: hidden;
  }
  .and_title {
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 700;
    position: relative;
    top: 11%;
    left: 35.5%;
  }
  .for_and {
    height: 57px;
    width: 150px;
    color: white;
    background-color: black;
    /* text-decoration: none; */
    border-radius: 20px;
    position: relative;
    top: 14%;
    left: 32%;
  }
  .linux_container {
    background-color: #f6f6f6;
    height: 600px;
    width: 35%;
    position: relative;
    top: -22%;
    left: 14%;
    margin-bottom: 5%;
    border-radius: 15px;
    /* display: flex; */
    flex-direction: column;
    overflow: hidden;
  }
  .linux_title {
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 700;
    position: relative;
    top: 11%;
    left: 38%;
  }
  .for_linux {
    height: 57px;
    width: 150px;
    color: white;
    background-color: black;
    /* text-decoration: none; */
    border-radius: 20px;
    position: relative;
    top: 13%;
    left: 29%;
    z-index: 10;
  }
  .linux_img {
    width: 65%;
    position: relative;
    top: 30%;
    left: 18%;
  }
  .mac_container {
    background-color: #f6f6f6;
    height: 600px;
    width: 35%;
    position: relative;
    top: -94%;
    left: 51.5%;
    margin-bottom: 5%;
    border-radius: 15px;
    /* display: flex; */
    flex-direction: column;
    overflow: hidden;
  }
  .mac_title {
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 700;
    position: relative;
    top: 11%;
    left: 43%;
  }
  .for_mac {
    height: 57px;
    width: 150px;
    color: white;
    background-color: black;
    /* text-decoration: none; */
    border-radius: 20px;
    position: relative;
    top: 14%;
    left: 30%;
    z-index: 10;
  }
  .mac_img {
    width: 75%;
    position: relative;
    top: 32%;
    left: 14%;
  }
  .public_test_container {
    background-color: #f6f6f6;
    height: 320px;
    width: 35%;
    position: relative;
    top: -113%;
    left: 14%;
    margin-bottom: 5%;
    border-radius: 15px;
    /* display: flex; */
    flex-direction: column;
    overflow: hidden;
  }
  .public_test_container h2 {
    font-size: 2.2rem;
  }
  .pt_btn {
    height: 8vh;
    width: 23vw;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    padding: 10px;
    border-radius: 15px;
    color: white;
    background-color: black;
    cursor: pointer;
  }
  .sozial {
    background-color: transparent;
    position: relative;
    left: 10%;
    height: 7vh;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
  }
  .sozial a,
  .social i {
    font-size: 25px;
    color: white;
  }
  .footer_title_row1 {
    background-color: transparent;
    position: relative;
    top: 10%;
    left: 2%;
    height: 40vh;
    width: 20vw;
  }
  /* TOP BAR ENDS */

  /* NAVIGATION STARTS */

  nav {
    flex-wrap: wrap;
  }

  nav ul {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    padding: 1rem 0;
  }

  nav ul li a {
    padding: 0;
    margin: 0;
  }

  .night-toggle {
    right: 4.5%;
  }

  /* NAVIGATION ENDS */

  /* BANNER STARTS */
  .section1 {
    width: 100%;
    padding: 2rem;
    gap: 1rem 0;
    align-items: baseline;
  }

  .section1 h1 {
    font-size: 2.5rem;
    margin-top: 0;
  }

  .section1 p {
    font-size: 1rem;
    margin-top: 0;
    text-align: left !important;
    max-width: 580px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  .dino,
  .shoe {
    z-index: -1;
  }

  .shoe {
    width: 300px;
    height: 150px;
    left: -25%;
  }

  .dino {
    width: 150px;
    height: 150px;
  }

  .section1 .download-button {
    font-size: 0.75rem;
    padding: 0.75rem 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0;
  }

  .section1 .browser {
    font-size: 0.75rem;
    padding: 0.75rem 1rem;
    margin: 0;
  }
  /* BANNER ENDS */

  /* FOOTER STARTS */

  footer .footer-nav {
    grid-template-columns: 1fr 1fr;
    gap: 2rem 0;
    width: 100%;
    padding: 2rem;
  }

  footer .footer-bar {
    gap: 0 1rem;
    width: 100%;
  }

  footer .footer-nav .socials h4 {
    margin-bottom: 5px;
    color: #5865f2;
    font-weight: 800 !important;
    line-height: 95%;
    text-transform: uppercase;
    text-rendering: geometricPrecision;
  }

  /* FOOTER ENDS */
}

@media screen and (max-width: 576px) {
  /* body{
    overflow: hidden;
  } */
  .section1 {
    display: flex;
    justify-content: start;
    padding: 1rem 2rem;
  }

  .section1 h1 {
    font-size: 33.55px;
  }

  .section1 p {
    font-size: 0.85rem;
  }

  footer {
    padding: 3rem 0;
  }

  footer .footer-nav {
    grid-template-columns: 1fr;
  }

  .buttons {
    flex-direction: column;
    gap: 0;
  }
  .browser-button {
    font-size: 14px;
    margin-top: 18px;
  }
  .content2 {
    display: none;
  }
  .content1 {
    background-color: transparent;
    position: relative;
    height: 82.3vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
  }
  .title_nav {
    position: relative;
    top: 22%;
    left: 14%;
  }
  .title_nav h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    color: white;
  }
  .title_nav h3 {
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    width: 300px;
    color: white;
    margin-top: 30px;
  }
  .nav_buttons {
    background-color: transparent;
    position: relative;
    height: 15vh;
    display: flex;
    flex-direction: column;
    width: 80vw;
    position: relative;
    top: 27%;
    left: 20%;
  }
  .for_windows {
    height: 6vh;
    border-radius: 30px;
    padding: 17px;
    background-color: #5865f2;
    border: none;
  }
  .for_windows_links {
    text-decoration: none;
    font-size: 1.1rem;
    color: white;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 400;
  }
  .nv_btn_h3{
    text-align: center;
  }

  .ios_container {
    background-color: #f6f6f6;
    height: 355px;
    width: 90%;
    position: relative;
    top: 30%;
    left: 5%;
    margin-bottom: 5%;
    border-radius: 15px;
    /* display: flex; */
    flex-direction: column;
    overflow: hidden;
  }
  .ios_title {
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 700;
    position: relative;
    top: 11%;
    left: 44%;
  }
  .for_ios {
    height: 57px;
    width: 160px;
    color: white;
    background-color: black;
    border: none;
    /* text-decoration: none; */
    border-radius: 30px;
    position: relative;
    top: 13%;
    left: 30%;
  }
  .android_container {
    background-color: #f6f6f6;
    height: 355px;
    width: 90%;
    position: relative;
    top: 30%;
    left: 5%;
    margin-bottom: 5%;
    border-radius: 15px;
    /* display: flex; */
    flex-direction: column;
    overflow: hidden;
  }
  .and_title {
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 700;
    position: relative;
    top: 11%;
    left: 35.5%;
  }
  .for_and {
    height: 57px;
    width: 150px;
    color: white;
    background-color: black;
    border: none;
    /* text-decoration: none; */
    border-radius: 30px;
    position: relative;
    top: 14%;
    left: 32%;
  }
  .linux_container {
    background-color: #f6f6f6;
    height: 355px;
    width: 90%;
    position: relative;
    top: 30%;
    left: 5%;
    margin-bottom: 5%;
    border-radius: 15px;
    /* display: flex; */
    flex-direction: column;
    overflow: hidden;
  }
  .linux_title {
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 700;
    position: relative;
    top: 11%;
    left: 38%;
  }
  .for_linux {
    height: 57px;
    width: 150px;
    color: white;
    background-color: black;
    border: none;
    /* text-decoration: none; */
    border-radius: 30px;
    position: relative;
    left: 31%;
    z-index: 10;
  }
  .linux_img {
    width: 75%;
    position: relative;
    top: 20%;
    left: 10%;
  }
  .mac_container {
    background-color: #f6f6f6;
    height: 355px;
    width: 90%;
    position: relative;
    top: 30%;
    left: 5%;
    margin-bottom: 5%;
    border-radius: 15px;
    /* display: flex; */
    flex-direction: column;
    overflow: hidden;
  }
  .mac_title {
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 700;
    position: relative;
    top: 11%;
    left: 43%;
  }
  .for_mac {
    height: 57px;
    width: 150px;
    color: white;
    background-color: black;
    border: none;
    /* text-decoration: none; */
    border-radius: 30px;
    position: relative;
    /* top: -14%; */
    left: 32%;
    z-index: 10;
  }
  .mac_img {
    width: 75%;
    position: relative;
    top: 20%;
    /* left: -15%; */
  }
  .public_test_container {
    background-color: #f6f6f6;
    height: 290px;
    width: 90%;
    position: relative;
    top: 30%;
    left: 5%;
    margin-bottom: 5%;
    border-radius: 15px;
    /* display: flex; */
    flex-direction: column;
    overflow: hidden;
  }
  .public_test_container h2 {
    font-size: 2.2rem;
  }
  .pt_btn {
    height: 8vh;
    width: 55vw;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 15px;
    color: white;
    background-color: black;
    cursor: pointer;
  }
  .footer_downloads {
    background-color: #23272a;
    position: relative;
    top: -140%;
    height: 50vh;
    display: flex;
    flex-direction: row;
  }

  .footer_title_row1 {
    background-color: transparent;
    position: relative;
    top: 10%;
    left: 7%;
    height: 40vh;
    width: 20vw;
  }
  .imagine {
    font-family: "Montserrat", sans-serif;
    width: 250px;
    font-size: 2.4rem;
    color: #5865f2;
    position: relative;
    left: 10%;
  }
  .sozial {
    background-color: transparent;
    position: relative;
    left: 10%;
    height: 7vh;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
  }
  .sozial a,
  .social i {
    font-size: 30px;
    color: white;
  }
  .footer_title_row2 {
    background-color: transparent;
    position: relative;
    top: 10%;
    left: 12%;
    height: 40vh;
    width: 16vw;
  }
  .row_1_title {
    font-size: 22px;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #5865f2;
  }
  .row_2_title {
    font-size: 22px;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #5865f2;
  }
  .row_3_title {
    font-size: 22px;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #5865f2;
  }
  .r1_content {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    justify-content: space-between;
    height: 12vh;
    color: white;
  }
  .r2_content {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    justify-content: space-between;
    height: 17vh;
    color: white;
  }
  .r3_content {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    justify-content: space-between;
    height: 33vh;
    color: white;
  }
  .footer_downloads {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  body {
    overflow-x: hidden;
  }
  

  .menu {
    display: non;
    flex-direction: column;
    height: 130vh;
    width: 300px;
    max-width: 100vw;
    position: fixed;
    right: 0;
    top: 0;
    background-color: white;
    padding: 30px;
    border-radius: 10px 0 0 10px;
    transform: translateX(100%);
    transition: all 0.5s;
    z-index: 11;
  }

  .menu-hov{
    justify-content: space-between;
    color: black;
  }
 
  .menu-hov:hover{
    background-color: #5865f2 ;
    border-radius: 10px;
    padding-left: 2px;
    color: white;
    
  }


  .menu.show{
    transform:translateX(0%);
    box-shadow: 0 25px 10px rgba(0,0,0,0.1);
    backdrop-filter: blur(10px);
  }
  .menu.show::backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.3);
    z-index: 9999;
  }

  .for-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    
  }

  .mobile-menu-logo{
    width:124px;
    height:34px;
  }

  .for-mobile svg.close {
    width: 30px;
  }

  nav ul {
    flex-direction: column;
    margin-top: 30px;
  }

  ul li {
    padding: 5px 0;
  }

  .wrapper .hamburger {
    display: block;
    color: white;
    font-weight: bold;
    
  }


  .wrapper{
    display:flex;
    gap:10px;
    align-items: center;

  }

  .night-toggle {
    position: relative;
    top: 10px;
    right: 0;
    display: none;
  }

  nav {
    justify-content: space-between;
  }

  .download_nav_img {
    width: 400px;
    margin-top: 100px;
    margin-left: 15px;
  }
.menu a{
  color:rgb(0, 0, 0);
  font-weight: 400;
  font-size: 16px;
}


  .menu li {
    text-align: left;
  }
}



.for-mobile .downloadButtonWrapper-qXeiyh{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.for-mobile .button-ZGMevK{
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 34px;
  border-radius: 4px;
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color .15s ease-out,box-shadow .15s ease-out;
  background-color: #5865f2;
  
  text-decoration: none;
  margin: 0;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;

}
.for-mobile .footer-20pSjV{
  display: flex;
  color: #000;
  text-rendering: optimizeLegibility;
  line-height: 1.15;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 120px;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: end;
  justify-content: flex-end;
  background: linear-gradient(180deg,hsla(0,0%,100%,0),#fff 25%);
  border-bottom-left-radius: 8px;
  z-index: 10000;
  pointer-events: auto;
}

.for-mobile .button-ZGMevK:hover{
  background-color: #7289da;
  box-shadow: 0 2px 0 #3a4e8c;
}
.for-mobile .spacer-1rBaoF{
  line-height: 1.15px;
  width: 100%;
  height: 1px;
  background: #ebedef;
  margin-top: 24px;
  margin-bottom: 16px;

}
#discord-mobile-menu-logo{
  color: #000;
}