@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");


@font-face {
  font-family: "Ginto Nord";
  src: url(../fonts/Ginto\ Nord.ttf);
}

@font-face {
  font-family: "Whitney Regular";
  src: url(../fonts/Whitney\ Regular.ttf);
}

@font-face {
  font-family: "Whitney Medium";
  src: url(../fonts/Whitney\ Medium.ttf);
}

@font-face {
  font-family: "Whitney Bold";
  src: url(../fonts/Whitney\ Bold.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Whitney", Helvetica Neue, "Helvetica", Arial, sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  transition: 1.5s;
}

.night-toggle {
  width: 33px;
  height: 33px;
  right: 50px;
  top: 30px;
  position: absolute;
}

.night-toggle:hover {
  cursor: pointer;
}

.moon {
  background-color: transparent;
  box-shadow: -6px 1px 0 3px #f4fcfc;
  border-left: 3px solid #3a4042;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-left: 8px;
  margin-top: 0px;
  transition: 2s;
}

.sun {
  background-color: #fdd462;
  box-shadow: 2px 0px 0px 1px #D19C29;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  transition: 2s;
}

/* Header Section */
.navbox {
  height: 70px;
  display: flex;
  justify-content: center;
}

.box1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
  gap: 16px;
}

.box1 img {
  height: 36px;
}

.box1 p {
  font-size: 15px;
}

.box1 span {
  font-weight: 400;
}

.read {
  border-radius: 40px;
  font-size: 0.8rem;
  padding: 10px 14px;
  background: #3b4aee;
  color: white;
  border: 1px solid #404eed;
  outline: none;
  cursor: pointer;
}

.read:hover {
  box-shadow: 0px 4px 5px 0px rgba(176, 174, 174, 0.71);
  transition: 0.2s;
  transition-timing-function: ease-in-out;
}

/* Container Section */
.container {
  background: #404eed;
  height: 600px;
  position: relative;
  width: 100%;
  z-index: 1;
}

.container:before {
  content: "";
  height: 590px;
  width: 100%;
  background: url(../img/clouds.png) no-repeat center center/cover;
  z-index: -1;
  opacity: 0.6;
  position: absolute;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  margin: 0 4px;
}

nav ul li a {
  letter-spacing: 0.5px;
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-family: "Whitney Medium";
  font-weight: 600;
  padding: 10px;
  margin: 10px;
}

nav ul li a:hover {
  text-decoration: underline;
  text-decoration-thickness: 10%;
}

.logo {
  margin-top: 6px;
  cursor: pointer;
}

.logo img {
  height: 37px;
}

.discord {
  border-radius: 40px;
  padding: 12px 16px;
  background-color: white;
  font-size: 0.8rem;
  border: 0;
  outline: none;
  cursor: pointer;
}

.discord:hover {
  box-shadow: 0px 4px 5px 0px rgba(44, 43, 43, 0.71);
  transition: 0.2s;
  transition-timing-function: ease-in-out;
  color: #404eed;
}

.section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  width: 100%;

  margin: auto;
  height: 350px;
  color: white;
}

.section1 h1 {
  margin-top: 50px;
  text-align: center;
  font-family: "Ginto Nord";
  font-size: 3.5rem;
  font-weight: 900;
}

.section1 p {
  font-family: "Whitney Regular";
  text-align: center;
  font-size: 19px;
  line-height: 1.625;
  width: 736px;
  margin: 40px auto 0 auto;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight : bold;
}

.shoe {
  height: 300px;
  width: 600px;
  position: absolute;
  left: -16%;
  z-index: -1;
  bottom: 0%;
  overflow: hidden;
  pointer-events: none;
}

.shoe img {
  height: 280px;
  height: 100%;
}

.dino img {
  height: 300px;
  height: 100%;
}

.dino {
  position: absolute;
  height: 318px;
  width: 290px;
  right: 0%;
  bottom: 0%;
  pointer-events: none;
  overflow: hidden;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 24px;
}

.buttons a {
  text-decoration: none;
}

.download-button {
  padding: 16px 32px;
  border-radius: 28px;
  font-size: 20px;
  font-weight: 500;
  background-color: #fff;
  color: #000;
  line-height: 24px;
  cursor: pointer;
  display: inline-flex;
  gap: 1rem;
  align-items: center;
  border: none;
  transition-duration: 0.2s;
}


.main-btn:hover {
  color: #3b4aee;
  box-shadow: rgba(0, 0, 0, 0.253) 0px 8px 24px;
}

.bottom-btn:hover {
  opacity: 0.8;
  box-shadow: rgba(0, 0, 0, 0.253) 0px 8px 24px;
}

.browser-button {
  padding: 16px 32px;
  border-radius: 28px;
  font-size: 20px;
  font-weight: 500;
  background-color: #23272a;
  color: #fff;
  cursor: pointer;
  line-height: 24px;
  border: none;
  transition-duration: 0.2s;
}

.browser-button:hover {
  background: rgb(52, 51, 51);
  box-shadow: rgba(0, 0, 0, 0.253) 0px 8px 24px;
}

.bottom_download-btn {
  padding: 16px 32px;
  border-radius: 28px;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  background-color: #5865f2;
  line-height: 24px;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  border: none;
  transition: 00.2s;
}



.container2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 40px;
}

#studygroup img {
  height: 450px;
  padding: 20px;
}

.box2 {
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 38%;
  padding: 40px;
}

.box2 h2 {
  font-family: "Whitney Bold";
  font-size: 48px;
  padding-right: 90px;
  padding-bottom: 40px;
}

.box2 p {
  font-family: "Whitney Regular";
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight : bold;
}

.container3 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px;
}

.box3 {
  width: 35%;
  text-align: left;
}

.box3 h2 {
  font-family: "Whitney Bold";
  font-size: 48px;
  padding-right: 75px;
  padding-bottom: 40px;
}

.box3 p {
  font-family: "Whitney Regular";
  font-size: 20px;
}

.container4 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.graggle {
  margin-right: 150px;
}

.graggle img {
  height: 400px;
}

.box4 {
  width: 30%;
  text-align: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.box4 p {
  font-size: 20px;
  font-family: "Whitney Regular";
}

.box4 h2 {
  font-size: 43px;
  padding-right: 75px;
  padding-bottom: 40px;
  font-family: "Whitney Bold";
}


.box5 {
  text-align: center;
  padding: 4%;
}

.box5 h1 {
  font-size: 2.5rem;
  font-weight: 800;
  padding-top: 3%;
  letter-spacing: 3px;
  font-family: "Ginto Nord";
}

.box5 p {
  margin-top: 2%;
  line-height: 25px;
  font-size: 20px;
  font-family: "Whitney Regular";
}

.box5 img {
  margin-top: -100px;
  width: 1000px;
  height: 890px;
}

.box6 {
  text-align: center;
  padding-bottom: 3%;
}

.box6 h1 {
  font-family: "Whitney Bold";
  font-weight: 800;
  margin-top: -120px;
}

.box6 button {
  border-radius: 40px;
  font-size: 1rem;
  margin-top: 3%;
  background: #3b4aee;
  color: white;
  border: 1px solid #404eed;
  outline: none;
  cursor: pointer;
}

.box6 a {
  text-decoration: none;
}

.box6 .download-btn:hover {
  background: #8189e2;
  border: 1px solid #8189e2;
  box-shadow: rgba(0, 0, 0, 0.253) 0px 10px 24px;
  transition: 0.2s;
}

/*<------------------------------------------------------->*/
/* footer */
footer {
  padding-top: 5rem;
  padding-bottom: 4rem;
  color: white;
  background-color: #23272a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .footer-nav {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr 1fr 1fr 1fr 1fr;
  gap: 0 20px;
  width: 100%;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid #5865f2;
  max-width: 1180px;
  width: 80%;
  align-items: flex-start;
}

footer .footer-nav .socials h4 {
  font-family: "Ginto Nord";
  margin-bottom: 5px;
  font-size: 32px;
  color: #5865f2;
  font-weight: 800 !important;
  line-height: 95%;
  text-transform: uppercase;
  text-rendering: geometricPrecision;
}

.column h5 {
  font-family: "Whitney Regular";
  font-weight: normal;
}

.language {
  margin-top: 24px;
}

footer .footer-nav .socials img {
  height: 16px;
  margin-right: 8px;
}

footer .footer-nav .column a {
  font-family: "Whitney Regular";
  margin-top: 8px;
  font-size: 16px;
  /* color: rgba(255, 255, 255, 0.74); */
  color: #fff;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding-bottom: 4px;
}

footer .footer-nav .column a:hover {
  text-decoration: underline;
}

footer .footer-nav h5 {
  color: #5865f2;
  font-size: 16px;
  padding-top: 8px;
  padding-bottom: 4px;
}

.footer-bar {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 1180px;
}

.footer-bar>img {
  width: 124px;
  height: 40px;
}

.footer-bar a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  border-radius: 40px;
  font-size: 14px;
  padding: 7px 16px;
  background-color: #5865f2;
  font-weight: 500;
  height: 38px;
}

#country {
  background-color: #23272a;
  color: #fff;
  border: none;
  cursor: pointer;
}

#country:focus {
  outline: none;
}

.links {
  margin-top: 24px;
}

.links a {
  color: white;
  width: 24px;
  height: 24px;
}

.links i {
  font-size: 22px;
  margin: 5px 0px;
}

.links :not(:first-of-type) {
  margin-left: 24px;
}

.links a:hover {
  cursor: pointer;
  color: #5865f2;
}

#btnScrollToTop {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #3b4aee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
}

#btnScrollToTop:active {
  background: rgb(114, 93, 183);

}



p{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight : bold;
}
