*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--whitney-font);
    font-size: var(--font-size-normal);
    line-height: 1.15;
    color: var(--light-color);
    font-weight: 300;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img,
picture {
    display: block;
    max-width: 100%;
}

input,
button {
    font: inherit;
    background-color: transparent;
    border: none;
}