.nitro-classic{
    padding-block: 5.6rem;
    background-color: #7289da;

    &__image{
        width: 20rem;
    }

    &__paragraph{
        text-align: left;
        margin-top: 2.4rem;
        line-height: 1.625;
    }

    &__btn-group{
        margin-top: 3.2rem;
    }

    @media screen and (min-width: 48em) {
        padding-block: 8rem;

        &__content{
            grid-column: 1/span 6;
        }
    }

    @media screen and (min-width: 64em) {
        padding-top: 12rem;
        padding-bottom: 15rem;

        &__content{
            grid-column: 7/span 6;
        }
    }
}